<%- include("header") -%>

<body>
    <div class="header">
        <div class="wrapper">
          <form action="/calc" method="post">
            <h1>BMI calculator</h1>
            <p>Insert Your Age</p>
            <input type="text" id="age" name="age" value=<%= age %>>
            <p>Insert Weight in Kg</p>
            <input type="text" id="weight" name="weight" value=<%= weight %>>
            <br>
            <p>Insert Height in cm</p>
            <input type="text" id="height" name="height" value=<%= height %>>
            <br>
            <button type="submit" id="calc">check</button>
            <p id="result"><%= bmiResult %></p>
          </form>
        </div>
    </div>
 
</body>

<%- include("footer") -%>